{%extends 'modelo.html' %}
{% load static %}

{%block conteudo%}
    <div class=" p-5 mt-2"style="display: flex;">
        <div style="display: flex; justify-content: center; align-items: center; gap: 15px; width: 100%;">
            <button class="btn btn-primary" id="btn-register">Cadastre-se</button>
            <button class="btn btn-primary" id="btn-login">Entrar</button>
        </div>
    </div>
{%endblock%}

<script>
    document.getElementById('btn-register').addEventListener('click', () => {
        window.location.href = "{% url 'register' %}";
    });

    document.getElementById('btn-login').addEventListener('click', () => {
        window.location.href = "{% url 'login' %}";
    });
</script>
